html{

    margin: 0;
    padding: 0;
    
    }
    
    
    body{
    
    background-color: rgb(81, 127, 193);
    margin: 0;
    padding: 0;
   
    }
    
    
    h1{
    
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        padding: 8px 0 ;
        transition: all;
        transition-duration: 300ms;
    text-align: center;
    }
    
    
    h1 :hover{
     color: rgba(113, 150, 213, 0);
     border-bottom: 1px solid rgb(32, 13, 201);
    
    }
       
    
    nav {
      
        display: flex;
        align-items: center;
    
    }
       
    .navbar {
        width: 100%;
        background-color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1); 
    }
     
    
    nav ul{
        
        display: flex;
        list-style: none;
        gap: 1rem 2rem;
       align-items: center; 
       box-sizing: border-box; /* Incluir bordas e preenchimento no tamanho total */
     }
    
    
        
        nav ul li a{
        
        text-decoration: none;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        padding: 8px 0 ;
        transition: all;
        transition-duration: 300ms;
        border-bottom: 1px solid rgba(255, 68, 0, 0);
       font-size: 25px;
     color: rgb(32, 73, 150);
    }
        
        nav div img{
        justify-content: flex-start;
        width: 50px;
        margin-right: 10px; 
        border: none;
        padding: 0px;
        }
        
        
        nav ul li a:hover{
        color: rgb(14, 13, 14);
        border-bottom: 1px solid rgb(14,13,14);
        
        }


        table {
            align-items: center;
            justify-content: center;
            width: 40%;
            border-collapse: collapse;
           
            
        }
        
        table, th, td {
            border: 3px solid black;
            padding: 8px;
            text-align: center;
        }
        
        
        th {
        
            background-color: #221f1f;
        
        
        
        }
  
        th::first-line{

color: white;
font-family: 'Segoe UI', sans-serif;
text-transform: uppercase;

        }
        
        td {
        background-color: #f2f2f2;
    

        }

        td::first-line{

color: rgb(0, 0, 0);
font-family: 'Segoe UI', sans-serif;


        }